<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
  xmlns:biografr="http://biografr.com/ontology#"
  xmlns:aa="http://activearchives.org/terms#"
>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}active archives{% endblock %}</title>

    <!--JQUERY-->
    <link rel="stylesheet" href="{{MEDIA_URL}}aabrowser/lib/jquery/jquery-ui.css" type="text/css" charset="utf-8" />
    <script src="{{MEDIA_URL}}aabrowser/lib/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/lib/jquery/jquery-ui.js" type="text/javascript" charset="utf-8"></script>	

    <!--RDFQUERY-->
    <script src="{{MEDIA_URL}}aabrowser/lib/rdfquery/jquery.rdfquery.rules.min-1.0.js" type="text/javascript" charset="utf-8"></script>	

    <!--FLOWPLAYER-->
    <script src="{{MEDIA_URL}}aabrowser/lib/swfobject/swfobject.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/lib/flowplayer/flowplayer.js" type="text/javascript" charset="utf-8"> </script>
    <link rel="flowplayer" href="{{MEDIA_URL}}aabrowser/lib/flowplayer/flowplayer.swf" />
    <link rel="flowplayeraudio" href="{{MEDIA_URL}}aabrowser/lib/flowplayer/flowplayer.audio.swf" />
    <link rel="flowplayerpseudostreaming" href="{{MEDIA_URL}}aabrowser/lib/flowplayer/flowplayer.pseudostreaming.swf" />

    <!--OTHER LIB-->
    <script src="{{MEDIA_URL}}aabrowser/lib/shortcut.js" type="text/javascript" charset="utf-8"></script>	

    <!--AA-->
    <script src="{{MEDIA_URL}}aabrowser/jquery.caret.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.log.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.timecode.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.delayedaction.js" type="text/javascript" charset="utf-8"></script>	

    <script src="{{MEDIA_URL}}aabrowser/jquery.timeline.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.animatedsetter.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.ui.autoscrollable.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.ui.timedtext.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.ui.playable.js" type="text/javascript" charset="utf-8"></script>	
    <script src="{{MEDIA_URL}}aabrowser/jquery.ui.playlist.js" type="text/javascript" charset="utf-8"></script>	

    <!--CSS-->
    <link rel="stylesheet" href="{{MEDIA_URL}}aabrowser/jquery.aascrubber.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{MEDIA_URL}}aabrowser/styles.css" type="text/css" charset="utf-8" />

    {% block extrahead %}{% endblock extrahead %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            
            // SIDEBAR
            (function () {
                var c = $("#sidebar_content");
                var stayOpen = c.is(":visible");
                $("#sidebar_content").resizable({
                    handles: "e"
                });
                $("#sidebar_toggle").click(function () {
                    if (!c.is(":visible")) {
                        c.show();
                        stayOpen = true;
                    } else {
                        c.hide();
                        stayOpen = false;
                    }
                });
                var hider = $.delayedaction(function () {
                    c.hide();
                }, 500);
                $("#sidebar_rollover").mouseover(function () {
                    if (!c.is(":visible")) {
                        c.show();
                    }
                }).mouseout(function () {
                    if (!stayOpen) hider.do_soon();
                });
                
                c.mouseover(function () {
                    hider.cancel();
                }).mouseout(function () {
                    if (!stayOpen) hider.do_soon();
                });
                
                
            })();

    /* TAGSTOOL */
    /* Show/Hide tags of a tag category */
    function activate_tagstool() {
        $("#tagstool .tagcatname").each(function () {
            var tagcat = $(this).closest(".tagcat");
            var body = $(".tagcatbody", tagcat);
            $(this).toggle(
                function(){ body.show('fast');},
                function(){ body.hide('fast');}
            );
        });
        // this makes sure that the tags are draggable (drag & drop into an annotation edit textarea)
        $("#tagstool a.tagtool").each(function () {
            $(this).draggable({helper: 'clone'});
        });
    }
    activate_tagstool();

    $(".tagtool").mouseover(function(){
        $('.tagtooledit', $(this)).css('display', 'inline');
    });    
    $(".tagtool").mouseout(function(){
        $('.tagtooledit', $(this)).css('display', 'none');
    });    

    /*
    $("#tagstool a.reload_button").click(function () {
        var href = $(this).attr("href");
        var body = $(".tagstoolbody", "#tagstool");
        body.load(href, function () {
            activate_tagstool();
        });
        
        return false;   
    });
    */


        });
    </script>
</head>

<body>
{%  load markup %}
<div id="sidebar">
        <div id="sidebar_content">
        {% block sidebar %}
            {% include 'sidebar.html' %}
        {% endblock sidebar %}

        {% block tagstool %}
            {% include 'tagstool.html' %}
        {% endblock tagstool %}
        </div><!--.content-->
    <div id="sidebar_rollover"></div>
    <div id="sidebar_toggle"></div>
</div><!--sidebar-->

<div id="header">
    <table>
        <tr>
        <!-- Add-ressource bar -->
        <td id='url-bar'>
        <form method="post" action="{% url aa-add %}">
            {% csrf_token %}

            <div id="aa_add_input">
                <input type="text" name="s" value="{% block searchbar %}{{ navurl }}{% endblock %}" />
            </div>

            <div id="aa_add_submit">
                <input type="submit" name="_submit" value="ok" />
            </div>

            {% if results %}
                <div>result: {{ resource }} {{ status }}</div>
            {% endif %}

            {% if message %}
                <div class="message">{{ message|textile }}</div>
            {% endif %}
        </form>
        </td>

        {% block tools %}
        {% endblock %}
        </tr>
    </table>
</div>


<div id="scrollable">

{% block main %}
    <div id="content">
        {% block header %}{% endblock header %}

        {% block list %}
        {% endblock list %}
    </div>
{% endblock %}

</div>

{% block fixed %}
{% endblock %}

</body>
</html>
