<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>{%block title%}active archives{%endblock%}</title>
<link rel="stylesheet" href="{{MEDIA_URL}}aabrowser/lib/jquery/jquery-ui.css" type="text/css" charset="utf-8" />
<script src="{{MEDIA_URL}}aabrowser/lib/jquery/jquery.js" type="text/javascript" language="javascript" charset="utf-8"></script>	
<script src="{{MEDIA_URL}}aabrowser/lib/jquery/jquery-ui.js" type="text/javascript" language="javascript" charset="utf-8"></script>	
<link rel="stylesheet" href="{{MEDIA_URL}}aabrowser/styles.css" type="text/css" charset="utf-8" />
{%block extrahead%}
{%endblock%}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>

