{% extends "base.html" %}
{% block body %}

<h1>File uploaded</h1>

<form action="{%url aa-add %}" method="post">{% csrf_token %}
<input type="submit" value="add to archive" />
<input type="hidden" name="s" value="{{ file_url }}" />
</form>

{% endblock %}

