{% load aamarkup %}
{% load markup %}
<div class="aa-playlist" data-resource="{{annotation.resource.url}}" data-id="{{annotation.id}}" style="top: {{annotation.top}}px; left: {{annotation.left}}px; width: {{annotation.width}}px; height: {{annotation.height}}px">
    {% for section in annotation.ssections %}
    <div class="aa-playlist-section" data-id="{{section.id}}" data-url="{%if section.resource %}{{section.resource.url}}{%else%}{{section.annotation.resource.url}}{%endif%}"{%if section.resource%} data-edit-url="{{section.resource.get_absolute_url}}"{%endif%}{%if section.start != None %} data-start="{{section.start}}"{%endif%}{%if section.end %} data-end="{{section.end}}"{%endif%}>
        {{section.source|aalinks|textile}}
        <textarea class="aa-playlist-section-source">{{section.source}}</textarea>
    </div>
    {% endfor %}
</div>

