{% extends "aa_simple_base.html" %}
{% block body %}
<h2>Import Audacity Labels</h2>
<div>Attach to resource: {{a.resource.url}}</div>
<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
{{form.as_table}}
<div>
    <input type="submit" value="import" />
</div>
</form>
{% endblock %}

