{% extends "resource.html" %}
{% load markup %}
{% load aamarkup %}

{% block resourcecontent %}
<div id="player"></div>
{% endblock %}

{% block resource_header %}
{% endblock resource_header %}

{% block annotations %}
{{ block.super }}
<div class="aa-playlist" data-resource="{{resource.url}}" style="top: 50px; left: 50px; width: 320px; height: 400px">
    <div class="aa-playlist-section" data-url="{{resource.url}}">
        <h2>Automatic playlist</h2>
        <textarea class="aa-playlist-section-source"></textarea>
    </div>
    {% for section in playlist_sections %}
    <div class="aa-playlist-section" data-url="{{section.aresource.url}}" data-edit-url="{{section.aresource.get_absolute_url}}"{%if section.start != None %} data-start="{{section.start}}"{%endif%}{%if section.end %} data-end="{{section.end}}"{%endif%}>
        {{section.source|aalinks|textile}}
        <textarea class="aa-playlist-section-source">{{section.source}}</textarea>
    </div>
    {% endfor %}
</div>
{% endblock annotations %}


