{% extends "aa_simple_base.html" %}
{% load thumbnail %}

{% block body %}

<div style="width: 400px; background: #AAA; margin: auto auto;">
    {{resource.url}}

    {% if resource.thumbnail_source %}
    <img src="{% thumbnail resource.thumbnail_source 320x320 %}" />
    {% endif %}

    <div style="margin-top: 10px">
        Are you sure you want to delete this resource?

        <form method="post">{% csrf_token %} 
            <input name="_submit" type="submit" value="delete" />
            <input name="_submit" type="submit" value="cancel" />
        </form>
    </div>
</div>
{%endblock %}
