{% extends "aa_base.html" %}


{% load aamarkup %}
{% load thumbnail %}


{% block extrahead %}{% endblock %}


{% block list %}
{% comment %}
    {% for resource in resources.object_list %}
        <div style="width:400px; clear: both; margin-bottom: 2em;">
            {% if resource.thumbnail_source %}
                <a style="display: block; float: left;" href="{% url aabrowser.views.resource resource.id %}">
                    <img src="{% thumbnail resource.thumbnail_source 160x160 %}" border="0" />
                </a>
            {% endif %}
            {% if resource.rtype %}<span style="background: black; color: white">{{ resource.get_rtype_display }}</span> {% endif %}
            <a href="{% url aabrowser.views.resource resource.id %}">
                "{{ resource.name }}"
            </a>,
            {% if resource.duration %} with duration {{ resource.duration|secs2timecode }},{% endif %}
            added to the archive {{ resource.db_created|date }} from <a href="{{ resource.url }}">{{ resource.hostname }}</a>.
            {% if resource.last_modified %}According to the server, this resource last changed {{ resource.last_modified|date }}.{%endif%}
            <p>
            This resource has {{ resource.annotations.count }} annotations.
            </p>
            <br style="clear:both;" />
        </div>
    {% endfor %}
{% endcomment %}
<table id="resource-list">
    <thead></thead>
    <tbody>
    {% for resource in resources.object_list %}
        <tr>
            {% if resource.thumbnail_source %}
            <td class="thumb_img">
                <a href="{% url aabrowser.views.resource resource.id %}">
                    <img src="{% thumbnail resource.thumbnail_source 160x160 %}" border="0" />
                </a>
            </td>
            <td class='thumb_info'>
            {% else %}
            <td class='thumb_info' colspan=2>
            {% endif %}
            
                {% include 'resource_description.html' %}
            
                <p>
                    This resource has {{resource.annotations.count}} annotations.
                </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if resources.has_previous %}
            <a href="?page={{ resources.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ resources.number }} of {{ resources.paginator.num_pages }}.
        </span>

        {% if resources.has_next %}
            <a href="?page={{ resources.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
