{% load aamarkup %}
<div id='description'>
    {%if resource.rtype%}<span class='rtype'>{{resource.get_rtype_display}}</span> {%endif%}
    <a href="{% url aabrowser.views.resource resource.id %}">"{{resource.name}}"</a>,
    {% if resource.duration %} with duration {{resource.duration|secs2timecode}},{%endif%}
    added to the archive {{resource.db_created|date}} from <a href="{{resource.url}}">{{resource.hostname}}</a>.
    {%if resource.last_modified%}According to the server, this resource last changed {{resource.db_lastmodified|date}}.{%endif%}
</div>

