{% extends "aa_base.html" %}
{% load markup %}
{% load aamarkup %}
{% load thumbnail %}

{%block extrahead %}
<script type="text/javascript" charset="utf-8">


var RESOURCE_INFO_URL = "{% url aabrowser.views.resource_info %}";    
var RESOURCE_VIEW_URL = "{% url aabrowser.views.resource resource.id %}";    
var ANNOTATION_URL_TEMPLATE = "{% url aabrowser.views.annotation 0 %}";    

var aa = {};

(function ($) {
$(function () {

// Keyboard shortcuts
shortcut.add("Ctrl+Shift+Down", function () {
    var ct = $("#player").playable("getCurrentTime");
    $("body").trigger("pastetimecode", ct);
});
shortcut.add("Ctrl+Shift+Left", function () {
    var ct = $("#player").playable("getCurrentTime");
    $("#player").playable("seek", Math.max(0, ct-5));
});
shortcut.add("Ctrl+Shift+Right", function () {
    var ct = $("#player").playable("getCurrentTime");
    $("#player").playable("seek", ct+5);
});
shortcut.add("Ctrl+Shift+Up", function () {
    $("#player").playable("toggle");
});

function load_annotation (annotation_id) {
    // console.log("load_annotation", annotation_id, ANNOTATION_URL_TEMPLATE);
    var tmp = $("<div></div>").appendTo("#resource_annotations");
    var url = ANNOTATION_URL_TEMPLATE.replace(/\/0\//, "/"+annotation_id+"/");
    tmp.load(url, function () {
        // $.log("postload", tmp);
        var a = $(".aa-playlist", tmp);
        // remove from tmp
        a.appendTo("#resource_annotations");
        activate_annotation(a, annotation_id);
        tmp.remove();
    });
}

//$(document).bind("play", function (evt, url, start, end) {
//    console.log("document.play", evt, url, start, end);
//});

var playInfoByURL = {};
function play (url, start, end, endedcallback) {
    info = playInfoByURL[url];
    if (info === undefined) {
        $.getJSON(RESOURCE_INFO_URL, {url: url}, function (data) {
            playInfoByURL[url] = data;
            play(url, start, end, endedcallback);
        });
    } else {
        // console.log("play", url, start, end);
        $("#player").playable({
            src: info.cacheurl,
            start: start,
            end: end,
            delegate: info.delegate,
            autoplay: true,
            controls: {
                autoHide: true,
                height: 24,
                backgroundColor: "#FFFFFF",
                buttonColor: "#000000",
                buttonOverColor: "#999999",
                timeFontSize: 9,
                timeColor: "#000000",
                timeSeparator: "/",
                durationColor: "#000000",
                fullscreen: false,
            },
            ended: endedcallback,
            timeupdate: function (evt, params) {
                $(".aa-playlist").playlist("doTimeUpdate", params.time, url);
            }
        });
    }
}

$(document).bind("playrequest", function (evt, url, start, end, endedcallback) {
    // console.log("PLAYREQUEST");
    play(url, start, end, endedcallback);
});

/* [EDIT] button */
$("#edit_mode_button").click(function(){ $(this).toggleClass('active'); });

/* Evt. start the player (to make the resource appear) */
$("#player[data-url]").each(function () {
    play($(this).attr("data-url"));
});

/* Activate the annotations on the page */
function activate_annotation (elt, annotation_id, xtraopts) {
    var opts = {
        resource_url: "{{resource.url|safe}}",
        save_url: RESOURCE_VIEW_URL+"annotate/",
        load_annotation: load_annotation
    };
    $.extend(opts, xtraopts);
    if (annotation_id) {
        $.extend(opts, {
            delete_url: ANNOTATION_URL_TEMPLATE.replace(/\/0\//, "/"+annotation_id+"/") + "delete/",
            srt_url: ANNOTATION_URL_TEMPLATE.replace(/\/0\//, "/"+annotation_id+"/") + "export/srt/",
            export_audacity_url: ANNOTATION_URL_TEMPLATE.replace(/\/0\//, "/"+annotation_id+"/") + "export/audacity/",
            import_audacity_url: ANNOTATION_URL_TEMPLATE.replace(/\/0\//, "/"+annotation_id+"/") + "import/audacity/",
            size_url: ANNOTATION_URL_TEMPLATE.replace(/\/0\//, "/"+annotation_id+"/") + "size/",
            position_url: ANNOTATION_URL_TEMPLATE.replace(/\/0\//, "/"+annotation_id+"/") + "position/",
        });
    }
    $(elt).playlist(opts);
}
$(".aa-playlist").each(function () {
    var annotation_id = $(this).attr("data-id");
    activate_annotation(this, annotation_id);
});

/* [ANNOTATE] button */
$("#aa-annotate-button").click(function () {
    var nelt = $("<div></div>").appendTo("#resource_annotations").addClass("aa-playlist").css({
        left: "190px",
        top: "-40px",
        zIndex: 10
    });
    activate_annotation(nelt, undefined, {edit: true, drop_on_cancel: true});
    return false;
});

// More Information
$("#moreinfo-show a").click(function(){ $('#moreinfo-content').toggle('fast'); return false; });
// Help
$("a#shortcuts-help-show").click(function(){ $('div#shortcuts-help').toggle('fast'); return false; });
$("a#textile-help-show").click(function(){ $('div#textile-help').toggle('fast'); return false; });

});


})(jQuery);

$(document).ready(function () {
    // SARMA
        // Calculate column width according to number of annotations
        box_nb = $("div.aa-playlist").length;
        width = 100/box_nb;
        $("div.aa-playlist").css("width", width + "%");

        // Header fades out when mouse doesn't move for X sec.
        $(window).mousemove(function(){
            $("#header, #resource_header").stop().show().css('opacity',1).animate({
                opacity: 0
            }, 2000);
        });

    // SARMA END

    // COLLAPSE THE SIDEBAR
    $("#sidebar_content").hide();
    // console.log("scrolling");
    window.setTimeout(function () {
        $("#scrollable").scrollTop(2450).scrollLeft(2485);
    }, 1000);

    // $("#pasteboard").draggable();
});

/* Django CSRF for Ajax */
$('html').ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

</script>
{% endblock %}

{% block tools %}
<td id='tools'>
    {% comment %}<a id="aa-edit-mode-button" href='#' class="aa-button">Edit</a>{% endcomment %}
    <a id="aa-annotate-button" href='#' class="aa-button">Annotate</a>
    <a href="?reload=1" class="aa-button">reload</a>
    {% if resource.isDownloaded %}
        {% comment %} Downloaded {{resource.last_downloaded|date:"l F j Y (H:i)"}}. {% endcomment %}
        <a href="?download=1" class="aa-button aa-button-cached">Recache</a>
    {% else %}
        <a href="?download=1" class="aa-button">Cache</a>
    {% endif %}

    <a href="{% url aabrowser.views.resource_delete resource.id %}" class="aa-button">delete</a>
</td>
{% endblock %}

{% block main %}
<div id="pasteboard">
    <div id="pasteboard_contents">
        {% block resource_header %}
        <div id="resource_header">
            <table>
                <tr>
                {% if resource.thumbnail_source %}
                <td class="thumb_img">
                    <img src="{% thumbnail resource.thumbnail_source 160x160 %}" border="0" />
                </td>
                <td class='thumb_info'>
                {% else %}
                <td class='thumb_info' colspan=2>
                {% endif %}

                {% include 'resource_description.html' %}
                
                <div id="moreinfo">
                    <p id="moreinfo-show"><a href="#">More information</a></p>
                    <div id="moreinfo-content">
                    {% for annotation in resource.annotations.all %}
                    {% if annotation.source %}
                        {% for section in annotation.ssections %}
                        <div class="moreinfo_annotation">
                            {{section.source|aalinks|textile}}
                        </div>
                        {% endfor %}
                    {%endif%}{% endfor %}
                    </div>
                </div>
                
                </td>
                </tr>
            </table>
        </div>
        {% endblock resource_header %}

        <div id="resource_annotations">
        {% block resourcecontent %}
        <!-- RESOURCE / THE ACTUAL MEDIA -->
        {% if resource.rtype == "audio" or resource.rtype == "video" or resource.rtype == "audio/video" %}
            <div id="player" class="aa-resource" data-url="{{resource.url}}" data-play-url="{{resource.cache_url}}" style="top: {{resource.top}}px; left: {{resource.left}}px; width: {{resource.width}}px; height: {{resource.height}}px" data-delegate="{{resource.content_delegate}}"{% if resource.content.width %} data-content-width="{{resource.content.width}}"{%endif%}{%if resource.content.height%} data-content-height="{{resource.content.height}}"{%endif%} {{resource.extra_attributes|safe}}>
            </div>
        {% else %}
        {% if resource.rtype == "image" and resource.thumbnail_source %}
            <div style="text-align: center">
                <img src="{% thumbnail resource.thumbnail_source 640x640 %}" />
            </div>
        {% else %}
        {% if resource.content_type != "" %}
            <iframe style="background: white; border: 5px solid black; width: 640px; height: 480px" src="{{resource.url}}"></iframe>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endblock resourcecontent %}
        
        <!-- ANNOTATIONS -->
        {% block annotations %}
            {% for annotation in annotations %}
            {% include "annotation.html" %}
            {% endfor %}
        {% endblock annotations %}
        </div> <!-- end resource annotations -->

    </div> <!-- pasteboard contents -->
</div> <!-- pasteboard -->
{% endblock main %}

{% block fixed %}
<div id='help'>
    <h3><a href='#' id='shortcuts-help-show'>Help: Shortcuts</a></h3>
    <div id='shortcuts-help'>
        <strong>Ctrl + Shift + &uarr;</strong> Play/Pause<br />
        <strong>Ctrl + Shift + &darr;</strong> Paste Timecode<br >
        <strong>Ctrl + Shift + &larr;</strong> - 5 seconds<br />
        <strong>Ctrl + Shift + &rarr;</strong> + 5 seconds
    </div>

    <h3><a href='#' id='textile-help-show'>Help: Textile Markup</a></h3>
    <div id='textile-help'>
        <span style='font-size: 15px; font-weight: bold'>h1. Header 1</span><br />
        <span style='font-weight: bold'>h2. Header 2</span><br />
        <strong>*bold*</strong><br />
        <em>_italic_</em><br />
        <em><strong>*_bold italic_*</strong></em><br />
        <span style='text-decoration: strike-through'>-strike-through-</span><br />
        <span style='text-decoration: underline'>+underline+</span><br />
        <sup>^superscript^</sup><br />
        <sub>~subscript~</sub><br />
        <span style='color: red'>%{color:red}text%</span><br />
        <a href='#'>"link title (title tooltip)":http://link.net</a><br />
        Image: !http://path.to/image.png(alt text)!<br />
        @code/unformatted text@<br />
        <blockquote>bq. "This is a blockquote"</blockquote>

        # numbered list<br />
        * bulleted list<br />
        |_. Header 1   |_. Header 2   |<br />
        |   Table with |   2 columns  |<br />
        |   and        |   2 lines    |
    </div>
</div>
{% endblock %}
