<h2>RESOURCES</h2>
<ul id='rtype-filter'>
    <li><a href="{% url aa-resources %}">All</a></li>
    <li><a href="{% url aa-audio%}">Audio</a></li>
    <li><a href="{% url aa-video %}">Video</a></li>
    <li><a href="{% url aa-image %}">Images</a></li>
</ul>
