{% extends "aa_base.html" %}
{% block body %}
<form method="post" action="">{% csrf_token %}
<div>
<textarea name="source" style="width: 320px; height: 240px">
</textarea>
</div>
<input type="submit" name="_submit" value="save" />
</form>
{%if srt%}
{{srt.unparse_xml}}
{% endif %}
{% endblock %}


