{% load markup %}
{% load thumbnail %}
{% load aamarkup %}
{% block body %}
<h2><a href="{% url aa-tags %}">TAGS</a>:
{{tag.name}}</h2>

<!-- the tags editable bits -->
<form method="post" action="">
<table>
{{form.as_table}}
{% csrf_token %} 
</table>
<input type="submit" value="ok" />
</form>

{% endblock %}


