{% load markup %}
{% load thumbnail %}
{% load aamarkup %}
{% block body %}
<h2>{{tag.name}}</h2>

<!-- the tags editable bits -->
<form method="post" action="">
<table>
{{form.as_table}}
{% csrf_token %} 
</table>
<input type="submit" value="save" />
</form>

<!-- list of matching resources -->
{% for sectiontag in tag.sectiontag_set.all %}
<div style="float: left; width: 200px; height: 200px">
    {% with sectiontag.section as section %}
    {% with sectiontag.rel as rel %}
    {% with section.annotation.resource as resource %}
    <a href="{% url aa-resource resource.id %}">
        {% if rel %}As {{rel}} for:<br />{%endif %}
        {% if resource.thumbnail_source %}<img src="{% thumbnail resource.thumbnail_source 160x160 %}" border="0" /><br />{% endif %}
        {{section.annotation.resource}} 
    </a>
    <div class="timecodes">
        ({%if section.start != None %}{{section.start|secs2timecode}} --> {%if section.end != None %}{{section.end|secs2timecode}}{%endif%}{%else%}no timing{%endif%})
    </div>
    {% endwith %}
    {% endwith %}
    {% endwith %}
</div>
{% endfor %}

{% endblock %}


