<div id="tagstool" class="aa_tags">
    <div class="tag_head">
        <h2><a href="{%url aabrowser.views.tags %}">TAGS</a></h2>
    </div>

    <ul class="tagstoolbody">
        {% regroup tags by parent as parent_list %}

        {% for parent in parent_list %}
            <li class='tagcat'>
                {% if parent.grouper %}
                    <a class='tagcatname' href="#">{{ parent.grouper }}</a>
                {% else %}
                    <a class='tagcatname' href='#'>Uncategorized</a>
                {% endif %}
                <span class="tagtoolcount">{{ parent.list|length }}</span> 
                <ul class="tagcatbody">
                    {% for tag in parent.list %}
                        <li class='tagtool'>
                            <a class='tagtool' href="{% url aa-playlist tag.urlname %}">{{ tag.name }}</a> 
                            <span class="tagtoolcount">{{ tag.sections.count }}</span> <a class='tagtooledit' href='{%url aa-tag-edit tag.name %}'>edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
