{% extends "aa_base.html" %}
{% load markup %}
{% load aamarkup %}
{% load thumbnail %}

{%block extrahead %}
<script type="text/javascript" language="javascript" charset="utf-8">
$(document).ready(function () {
    // COLLAPSE THE SIDEBAR
    $("#sidebar_content").hide();
    // console.log("scrolling");
    window.setTimeout(function () {
        $("#scrollable").scrollTop(2450).scrollLeft(2485);
    }, 1000);

    var showSingletons = true;
    $("#tagslisttogglesingletons").click(function () {
        showSingletons = !showSingletons;
        if (!showSingletons) {
            $("#tagslist li[data-count=1]").hide();
        } else {
            $("#tagslist li[data-count=1]").show();
        }
        return false;
    });

    // $("#pasteboard").draggable();
});
</script>
{% endblock %}

{% block tagstool %}
{% endblock tagstool %}

{% block tools %}
{% endblock %}

{% block main %}

<div id="tagslisthead">
<a href="#" id="tagslisttogglesingletons">toggle singletons</a>
</div>

<table id="tagslist">
<tr>
    {% for column in tags_columns %}
    <td style="padding-right: 20px">
        <ul>
        {% for tag in column %}
        <li data-count="{{ tag.sections.count }}" class="taglisttag"><a href="{%url aa-playlist tag.urlname%}">{{ tag.name }}</a> ({{ tag.sections.count }})</li>
        {% endfor %}
        </ul>
    </td>
    {% endfor %}
</tr>
</table>

{% endblock main %}

{% block fixed %}
{% endblock %}
