/* General */
body {
    margin: 0;
    overflow: hidden;
}

/* cribbed from mediawiki */
/*h1 { font-size:188%; }*/
h1 .editsection { font-size:53%; }
/*h2 { font-size:150%; }*/
h2 .editsection { font-size:67%; }
h3, h4, h5, h6 { border-bottom:medium none; font-weight:bold; }
/*h3 { font-size:132%; }*/
h3 .editsection { font-size:76%; font-weight:normal; }
h4 { font-size:116%; }
h4 .editsection { font-size:86%; font-weight:normal; }
h5 { font-size:100%; }
h5 .editsection { font-weight:normal; }
h6 { font-size:80%; }
h6 .editsection { font-size:125%; font-weight:normal; }

#scrollable {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;    
    overflow: auto;
}

body,input {
    font-size: 11px;
}

body {
    background-color: #DDD; 
}

td {
    vertical-align: top
}

a { 
    text-decoration: none;
    color: black;
}

a:hover {
    background: black;
    color: white;
}
h1 {
    font-size: 15px;
    margin-top: 0;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 11px;
    margin-top: 0;
}

ul { 
/*    list-style: none; */
    list-style-type: square;
/*    margin-left: 10px;*/
    padding-left: 10px;
    margin: 0;
}

blockquote {
    margin: 11px 22px;
}

input[type=submit] {
    font-family: "DejaVu Sans Mono";
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none;
    margin: 0 1px;
    padding: 1px 5px;
}

/* HEADER */
#header {
    position: absolute;
    top: 0;
    left: 187px;
    right: 0;
    /*width: 100%;*/
    z-index: 1;
    background: #DDD;
}
#header table {
    width: 100%;
}
#header td#url-bar {
    width: 100%;
}
#aa_add_input {
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 55px;
}

#aa_add_input input {
    width: 100%;
    height: 14px;
    padding: 2px;
    padding-right: 0;
    border: none; /* 1px solid black; */
    font-family: "DejaVu Sans Mono";
}

#aa_add_submit {
    position: relative;
    right: 15px;
    top: -18px;
    float: right;
}

#aa_add_submit input {
}
#header td#tools {
    padding-top: 11px;
    padding-right: 25px;
    white-space: nowrap;
}
#header td#tools a {
    padding: 3px;
    padding-bottom: 2px;
    background-color: #AAAAAA;
}
#header td#tools a#edit_mode_button.active {
    background-color: red;
    color: white;
}

/* SIDEBAR */

div#sidebar {
    position: absolute;
    z-index: 10;
    width: auto;
    display: block;
    height: auto;
    left: 0;
    top: 0;
    bottom: 16px;
    margin-top: 11px;
}

div#sidebar_content {
    padding-top: 2px;
    padding-left: 15px;
    width: 160px;
    border-right: 3px solid DarkSlateGray;
    font-family: "DejaVu Sans Mono";
    height: 100%;
    overflow: auto;
    position: static !important;
    background: #DDD;
}

div#sidebar h2 {
    margin-bottom: 0;
}

div#sidebar ul, div#sidebar li { 
    list-style: none; 
    margin-left: 8px;
    padding: 0;
}

div#sidebar_toggle {
    width: 16px;
    height: 16px;
    border: 1px dotted black;
    border-left: none;
    cursor: pointer;
    position: absolute;
    right: -16px;
    top: 50%;
}

div#sidebar_rollover {
    width: 16px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    right: -16px;
    top: 0;
}

/* MAIN CONTENT */
div#content {
    position: relative;
    float: left;
    margin-top: 14px;
/*    width: 5000px;*/
/*    height:5000px;*/
    margin-left: 200px;
    margin-top: 50px;
}

/* COMMON ELEMENTS */

span.rtype {
    background-color: black;
    color: white;
    font-family: "DejaVu Sans Mono";
    text-transform: uppercase;
    padding: 0 2px;
}

/* RESOURCE LIST */

table#resource-list {
    max-width: 500px;
}
table#resource-list td {
    border-top: 1px solid black;
    padding: 1em 0;
}

td.thumb_img {
    width: 180px;
    float: left;
}

/* TAGS TOOL */
div#tagstool {
    margin-top: 10px;
    font-family: "DejaVu Sans Mono";
/*    border-top: 1px dotted gray;*/
/*    background: #CDC;*/
}
a.tagtool {
    z-index: 10000;
    /*background-color: #AAA;*/
    /*color: white;*/
}
a.tagtool:hover::before {
  /*content: "\2194"; [>Hexadecimal for Unicode down arrow (&dArr;)<]*/
}
div#tagstool .tagcatbody {
    /*padding-left: 20px;*/
    display: none;
}
div.tagcat {
    /*margin-bottom: 10px;*/
}
.tagcatname a {
    /*position: relative;*/
    padding-left: 15px;
    /*margin-bottom: 4px;*/
    cursor: ns-resize;
}
.tagtool a {
    font-size: 10px;
}
.tagtoolcount {
    position: relative;
    font-size: 9px;
    background: LightYellow;
    padding: 0px 2px;
    padding-left: 1px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.tagtooledit {
    display: none;
    text-transform: lowercase;
}


/* TAGS */
.tag {
    /*background: #CDC; [> fcf0ad; <]*/
    background-color: LightYellow;
/*    white-space: nowrap;*/
    padding: 0px 2px;
    border-bottom: none !important;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.tag.highlight {
    background: pink;
    color: black;
}

.tag.taggray {
    color: gray;
}
.tag.tagselected {
    background: black;
    color: white;
}
.tag.playing {
    background: black;
    color: white !important;
}


/* Resource */

#resource_annotations {
    position: relative;
}

.editing {
    background-color: red;
}

/* STICKY HELP */
div#help {
    font-family: monospace;
    border: 1px solid gray;
    bottom: 15px;
    right: 15px;
    position: absolute;
    background-color: white;
    width: 20em;
    max-height: 25em;
    overflow: auto;
    padding: 9px;
}
div#help * {
    font-size: 10px;
}
div#help strong {
}
div#help h3 {
    margin: 0;
    text-decoration: underline;
}
div#help div {
    margin-bottom: 1em;
}
div#help div#shortcuts-help {
    display: none;
}
div#help div#textile-help {
    margin-top: 1em;
    display: none;
}

div#pasteboard {
    position: absolute;
    width: 5000px;
    height: 5000px;
}

div#pasteboard_contents {
    position: absolute;
    top: 2500px;
    left: 2500px;
}


#moreinfo-content {
    display: none;
}

.aa-tag-rename-button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: #CCC;
    text-transform: uppercase;
    font-size: 8px;
    border-bottom: none !important;
    font-family: "DejaVu Sans Mono";
    font-weight: bold;
}

.aa-tag-rename-button:hover {
    background: black;
    color: white;
}

#tagslisthead {
    padding-top: 100px;
    padding-left: 150px;
}
#tagslist {
    padding-top: 20px;
    padding-left: 150px;
}


/**************************************/
/* PLAYLIST                           */

.aa-playlist {
    position: absolute;
    z-index: 0;
    width: 240px;
    height: 240px;
    border: 1px solid black;
}

.aa-playlist.mouseover {
    z-index: 10;
}

.aa-playlist-play-menu {
    cursor: move;
    width: 100%;
    background: black;
    border: 1px solid black;
    position: absolute;
    top: -16px;
    left: -1px;
    height: 16px;
    font-family: "DejaVu Sans Mono";
    font-weight: bold;
    display: none;
    z-index: 10;
}

.aa-playlist-play-menu a {
    color: white;
}

.aa-playlist .playlink {
    display: none;
}

div.aa-playlist-view-menu {
    position: relative;
    display: inline;
    height: 20px;
}

.aa-playlist-menu-contents {
    position: absolute;
    background: black;
    left: 0px;
    top: 16px;
    display: none;
}

.aa-playlist-menu-contents a.aa-button {
    display: block;
    padding: 5px;
}

.aa-playlist-menu-contents a.aa-button:hover {
    background: white !important;
    color: black !important;
}

div.aa-playlist-export-menu {
    position: relative;
    display: inline;
    height: 20px;
}

.aa-playlist-play-button-active {
    background: red !important;
}

.aa-playlist-edit-menu {
    cursor: move;
    width: 100%;
    background: black;
    border: 1px solid black;
    position: absolute;
    top: -16px;
    left: -1px;
    height: 16px;
    font-family: "DejaVu Sans Mono";
    font-weight: bold;
    display: none;
    z-index: 10;
}

.aa-playlist-edit-menu a {
    color: white;
}

/*
.aa-playlist-header {
    text-transform: uppercase;
    font-size: 10px;
    color: black;
    font-weight: bold;
    margin-right: 5px;
}
*/

.aa-button {
    margin-right: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    border-bottom: none !important;
    font-family: "DejaVu Sans Mono";
    font-weight: bold;
}

.aa-button:hover {
    background: white;
    color: black;
}
.aa-button-cached {
    background: #4A4 !important;
}

/*
.aa_widget_close {
    width: 16px;
    height: 16px;
    background: black;
}
*/

.aa-playlist-display {
    height: 100%;
    overflow: auto;
    background-color: #DDD;
}

.aa-playlist-edit  {
    height: 100%;
    position:relative;
    overflow: hidden;
}

.aa-playlist-edit textarea {
    position: absolute;
    font-size: 11px;
    background: white;
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 5px;
    padding-left: 10px;
}

.aa-playlist-edit-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
}

.aa-playlist-section-edit {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.aa-playlist-section-source {
    display: none;
}

/* SECTION LIST */

#aa-playlist-sections {
    width: 240px;
    height: 300px;
    left: 470px;
    top: 15px;
    position: absolute;
}

#aa-playlist-sections_display {
    overflow: auto;
    /*background-color: white;*/
    height: 100%;
    border-bottom: 1px solid black;
}

/***************************/
/* PLAYLIST SECTION */

.aa-playlist-section {
    border-top: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    padding-top: 5px;
}

.aa-playlist-section:first-child {
    border-top: none;
}

.aa-playlist-title-url {
    font-size: 10px;
    color: grey;
    cursor: pointer;
/*    font-family: "DejaVu Sans Mono";*/
    margin-top: 2px;
    margin-bottom: 2px;
}

.aa-playlist-title-url a {
    color: grey;
}

.aa-timecodes {
    text-transform: uppercase;
    font-size: 10px;
    color: grey;
    cursor: pointer;
    font-family: "DejaVu Sans Mono";
    margin-top: 2px;
}

.aa-timecodes-start:hover {
    background: black !important;
}

.aa-timecodes-end:hover {
    background: black !important;
}

.aa-timecodes-arrow {
    padding-left: 5px;
    padding-right: 5px;
}

.aa-playlist-section a.playlink {
    margin-right: 5px;
    cursor: pointer;
    color: gray;
    text-transform: uppercase;
    font-size: 10px;
    border-bottom: none !important;
    font-family: "DejaVu Sans Mono";
    font-weight: bold;
    margin-left: 5px;
}

div.aa-playlist-section .aa-playlist-section_duration {
    color: gray;
    font-size: smaller;
}

.aa-playlist-section a {
    border-bottom: 1px dotted gray;
}

.aa-playlist-section h2, h3 {
    margin-top: 5px;
}

.aa-playlist-section p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.edit {
    font-family: "DejaVu Sans Mono", Sans-Serif;
    text-transform: uppercase;
    font-size: 10px;
    border: none !important;
}

.aa-playlist-section-active {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aa-playlist-saving textarea {
    background: #CCC !important;
}

.aa-playlist-saving .aa-playlist-save-button {
    background: red;
}



