html,
body {
    font-family: "Liberation Sans", Serif, Sans;
    font-size: 11px;
    line-height: 14px;
    max-width: 60em;
    margin: 1em;
    color: navy;
}

a {
    color: inherit;
}
a:after {
    content: "\219D  ";
}

textarea,
input {
    font-size: inherit;
    line-height: inherit;
}

textarea {
    width: 100%;
    height: 140px;
}


div#sidebar {
    width: 15em;
    float: left;
}

div#sidebar h1,
div#body h2 {
    margin-bottom: 14px;
}
div#body h3 {
    margin: 14px 0;
}

div#body {
    margin-left: 16em;
}

div#body li:before {
    content: "\2013   ";
}

div#body div#overview {
    color: brown;
}

div#body pre,
div#body div#eventlog,
div#body p,
div#body textarea,
div#body ul,
div#body dl {
    margin-bottom: 14px;
}

div#body dt:after {
    content: ":";
}

div#body dd {
    margin-left: 11px;
}

/*body {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background: light gray;*/
    /*font-size: 12px;*/
/*}*/

#page {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height:100%;
    margin: 0;
    overflow: auto;
}

#page .liner {
    margin: 20px;
}

#player {
    position: absolute;
    top: 48px;
    left: 500px;
    z-index: 10;
}

.handle {
    width: 16px;
    height: 16px;
    background: url(../images/aamove.gif) no-repeat white;
    cursor: move;
    position: absolute;
    top: -16px;
}
#media {
    width: auto;
}

/*.code {}*/
/*.code pre {*/
    /*background: #BEB;*/
    /*padding: 5px;*/
    /*font-size: 10px;*/
    /*margin-bottom: 0px;*/
/*}*/
/*.code button {*/
    /*background: #BEB;*/
    /*font-weight: bold;*/
/*}*/

#eventlog {
    width: 320px;
    height: 180px;
    border: 1px solid black;
    overflow: auto;
}
#eventlog div {
    border: 1px solid black;
    margin: -1px;
    font-size: 10px;
}
