<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}active archives{% endblock %}</title>

    <!-- Meyer's CSS reset -->
    <link rel="stylesheet" href="../reset.css" type="text/css" charset="utf-8" />

    <!-- code highlighting -->
    <script src="../lib/js/highlight/highlight.pack.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="../lib/js/highlight/styles/sunburst.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" charset="utf-8">
        hljs.tabReplace = '    '; // 4 spaces
        hljs.initHighlightingOnLoad();
    </script>

    <!-- jquery/ui -->
    <script src="../../lib/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>	
    <script src="../../lib/jquery/jquery-ui.js" type="text/javascript" charset="utf-8"></script>	
    <link rel="stylesheet" href="../../lib/jquery/jquery-ui.css" type="text/css" charset="utf-8" />
    
    <!-- flowplayer -->
    <script src="../../lib/swfobject/swfobject.js" type="text/javascript" charset="utf-8"></script>	
    <script src="../../lib/flowplayer/flowplayer.js" type="text/javascript" charset="utf-8"> </script>
    <link rel="flowplayer" href="../../lib/flowplayer/flowplayer.swf" />
    <link rel="flowplayeraudio" href="../../lib/flowplayer/flowplayer.audio.swf" />
    <link rel="flowplayerpseudostreaming" href="../../lib/flowplayer/flowplayer.pseudostreaming.swf" />

    <!-- styles -->
    <link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />

    {% block extrahead %}{% endblock extrahead %}
</head>

<body>

<div id="sidebar">
    <h1><a href="index.html">Active Documentation</a></h1>
    <ul id="menu">
        <li><a href="jquery.aamedia.html">jquery.aamedia.js</a></li>
        <li><a href="jquery.aaplaylist.html">jquery.aaplaylist.js</a></li>
        <li><a href="jquery.aa_timeline.html">jquery.aa_timeline.js</a></li>
        <li><a href="jquery.attach.html">jquery.attach.js</a></li>
        <li><a href="jquery.autoscroll.html">jquery.autoscroll.js</a></li>
        <li><a href="jquery.context.html">jquery.context.js</a></li>
        <li><a href="jquery.delayedaction.html">jquery.delayedaction.js</a></li>
        <li><a href="jquery.log.html">jquery.log.js</a></li>
        <li><a href="jquery.timecode.html">jquery.timecode.js</a></li>
    </ul>
</div>

<div id="body">
    <h2>{{ filename }}</h2>

    <div id="overview">
        {% block overview %}{% endblock overview %}
    </div>

    {% block body %}{% endblock body %}
</div>

</body>
</html>
