{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.attach.js" type="text/javascript" charset="utf-8"></script>	

<link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />

<style type="text/css" media="screen">
    #foo,
    #bar { 
        position: absolute;
    }
    #foo { 
        width: 200px;
        height: 200px;
        background-color: yellow;
        top: 180px;
        left: 500px;
    }
    #bar { 
        width: 100px;
        height: 100px;
        background-color: brown;
        top: 150px;
        left: 400px;
        cursor: move;
    }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    $("input").click(function(){
        // eval is evil
        eval($(this).val());
    });
    $("#bar").draggable();
});
</script>
{% endblock extrahead %}


{% block overview %}
{% filter textile %}
Attaches an element to an other.
{% endfilter %}
{% endblock %}


{% block body %}
<h3>$.attach()</h3>

<div id="foo">
   foo 
</div>

<div id="bar">
    bar
</div>

<pre><code class="javascript">$("#foo").attach("#bar", "TRTL");
$("#foo").attach("#bar", "TRTL5");</code></pre>

<p>where TR = Top Right, TL = Top Left and so on.
<br />5 Means 5px</p>

<p>
    <input type="button" name="some_name" value="$('#foo').attach('#bar', 'TRTL5');" /><br />
    <input type="button" name="some_name" value="$('#foo').attach('#bar', 'TRTL');" /><br />
    <input type="button" name="some_name" value="$('#foo').attach('#bar', 'TLTR');" /><br />
    <input type="button" name="some_name" value="$('#foo').attach('#bar', 'TRTR');" /><br />
    <input type="button" name="some_name" value="$('#foo').attach('#bar', 'TLTL');" />
</p>

{% endblock body %}
