{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.timecode.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.aamedia.js" type="text/javascript" charset="utf-8"></script>	

<style type="text/css" media="screen">
    #eventlog {
        width: 320px;
        height: 180px;
        border: 1px solid black;
        overflow: auto;
    }
    #eventlog div {
        border: 1px solid black;
        margin: -1px;
        font-size: 10px;
    }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    $("#player").draggable({handle: '.handle'});
    // test urls
    var testurls = [
        "http://vimeo.com/11698022",
        "http://sound.constantvzw.org/various/2010-06-29_hyde.mp3",
        "http://oxcars10.exgae.net/recorded/fcforum.ogg.13",
        "http://localhost/~murtaugh/videogrep/sadie-plant.flv",
        "http://localhost/Videos/sadie-plant.ogg",
        "http://localhost/Videos/square_dancing.ogv",
        "http://localhost/Videos/Ginger_Coons.mp4",
        "http://www.youtube.com/watch?v=wKocO6xWfkw",
        "http://www.archive.org/download/square_dancing/square_dancing.ogv",
        "http://activearchives.org/aa/media/files/LGM/Ginger_Coons.mp4",
    ];
    $(testurls).each(function (i, url) {
        $("<li></li>").click(function () {
            $("#urlentry").val(url);
        }).text(url).appendTo("ul#testurls");
    });

    $("#controls input[value=load]", controls).click(function () {
        var autoplay = $(".autoplay", controls).is(":checked");
        // var autobuffer = $(".autobuffer", controls).is(":checked");
        var showcontrols = $(".controls", controls).is(":checked");
        var time = $("input.time", controls).val();
        time = time !== "" ? parseFloat(time) : null;
        media.load({controls: showcontrols, autoplay: autoplay, start: time});
    });
    $("#controls input[value=unload]", controls).click(function () {
        media.unload();
        elt.html("");
    });

    $("#controls input[value=seek]", controls).click(function () {
        var time = $("input.time", controls).val();
        time = time !== "" ? parseFloat(time) : null;
        media.seek(time);
    });   
    $("#controls input[value=play]", controls).click(function () { media.play(); });   
    $("#controls input[value=pause]", controls).click(function () { media.pause(); });   
    $("#controls input[value=toggle]", controls).click(function () { media.toggle(); });   
});

function aa_test () {
    var media = $('#media').aamedia({
        src: $('#urlentry').val(),
        delegate: $('#delegate').val(),
        autoplay: $("#autoplay").is(":checked"),
        controls: $("#controls").is(":checked"),
        start: $("#starttime").val(),
        end: $("#endtime").val()
    });
    $('#eventlog').html("");
    function elog(msg) {
        $("<div></div>").html(msg).prependTo('#eventlog');
    }
    $('#media').aamedia('bind_play', function () {
        elog("play");
    }).aamedia('bind_pause', function () {
        elog("pause");
    }).aamedia('bind_timeupdate', function () {
        elog("timeupdate");
    }).aamedia('bind_durationchange', function () {
        elog("durationchange");
    }).aamedia('bind_ended', function () {
        elog("ended");
    });
}
</script>
{% endblock extrahead %}

{% block overview %}
{% filter textile %}
A media tag abstraction like the HTML5 video tag, but with:

# support for more kinds of media/browsers: ogg (via video tag), (mp4/flv/mp3 via flowplayer), and video sharing sites like youtube,
# support for a start/end time
# a minimal normalized interface for creating/controlling/handling events
{% endfilter %}
{% endblock %}

{% block body %}
<div id="player">
    <div class="handle"></div>
    <div id="media"></div>
</div>

<h3>options</h3>

<p>
    <label for="urlentry">src (required)</label>
    <input id="urlentry" type="text" name="urlentry" value="" />
</p>
<p>
    <label for="delegate">delegate</label>
    <select id="delegate" name="delegate">
        <option value="">auto</option>
        <option value="html5">html5</option>
        <option value="flowplayer">flowplayer</option>
        <option value="youtube">youtube</option>
        <option value="vimeo">vimeo</option>
    </select>
</p>

<p>sample values:</p>

<ul id="testurls"></ul>

<p>
    <label for="autoplay">autoplay</label>
    <input type="checkbox" id="autoplay" name="autoplay" />
    <label for="controls">controls</label>
    <input type="checkbox" id="controls" name="controls" />
</p>

<p>
    <label for="starttime">start</label>
    <input id="starttime" name="starttime" type="text" value="00:02:31,000" style="width: 8em;"/>
    <label for="endttime">end</label>
    <input id="endtime" name="endtime" type="text" value="00:02:36,5" style="width: 8em;" />
</p>
    
<pre id="init_code" class="code"><code class="javascript">$("#media").aamedia({
    url: 'http://...',
    autoplay: false,
    controls: false
})</code></pre>

<p>
    <button onclick="aa_test()">init</button>
</p>



<h3>methods</h3>

<pre class="code"><code class="javascript">$("#media").aamedia('play');
$("#media").aamedia('pause');
$("#media").aamedia('toggle');
$("#media').aamedia('seek', '00:30');
ct = $('#media').aamedia('getCurrentTime');
dur = $('#media').aamedia('getDuration');</code></pre>

<p>
    <button onclick="$('#media').aamedia('play')">play</button>
    <button onclick="$('#media').aamedia('pause')">pause</button>
    <button onclick="$('#media').aamedia('toggle')">toggle</button>
    <br />
    <button onclick="$('#media').aamedia('seek', $('#seektime').val())">seek</button>
    <input id="seektime" type="text" value="00:30" style="width: 8em"/>
    <br />
    <button onclick="$('#currenttime').val($('#media').aamedia('getCurrentTime'))">getCurrentTime</button>:
    <input id="currenttime" type="text" value="" style="width: 8em"/>
    <br />
    <button onclick="$('#duration').val($('#media').aamedia('getDuration'))">getDuration</button>:
    <input id="duration" type="text" value="" style="width: 8em"/>
</p>

<h3>events</h3>

<pre class="code"><code class="javascript">$("#media").aamedia('bind_play', function () {
    console.log("media is playing!");
});</code></pre>

<p>event log <a href="#" onclick="$('#eventlog').html(''); return false;">clear</a></p>

<div id="eventlog"></div>

<dl>
    <dt>bind_play</dt>
    <dd>called when play state changes to playing</dd>
    <dt>bind_pause</dt>
    <dd>called when play state changes to paused</dd>
    <dt>bind_timeupdate</dt>
    <dd>called (periodically) when time has changed</dd>
    <dt>bind_durationchange</dt>
    <dd>called when the media duration has changed / become available</dd>
    <dt>bind_ended</dt>
    <dd>called when the clip is finished playing (or has reached the given end time)</dd>
</dl>
{% endblock body %}
