{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.context.js" type="text/javascript" charset="utf-8"></script>	

<link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />

<style type="text/css" media="screen">
    .taggray a{ color: gray; }
    .tagselected a{ background-color: yellow; }
    .highlight a { background-color: orange; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    var context = $.aacontext();
    $("div#tags .tag").aatag({context: context});
    $("div#playlist .section").aaclip({context: context});
    context.init();
    window.context = context;
});
</script>

{% endblock extrahead %}

{% block overview %}
<p>
    <b>FIXME</b>: this is not working as expected; 
</p>
{% endblock %}

{% block body %}
<h3>$.aacontext</h3>

<pre><code class="javascript">
var context = $.aacontext();
$("div#tags .tag").aatag({context: context});
$("div#playlist .section").aaclip({context: context});
context.init();
</code></pre>

<div id="playlist">
    <div class="section" style="background-color: lightgray;">
        <a class="tag" href="#bar" rel="link">bar</a>
        <a class="tag" href="#qux" rel="link">qux</a>
    </div>
    <br />
    <div class="section" style="background-color: lightgray;">
        <a class="tag" href="#foo" rel="link">foo</a>
        <a class="tag" href="#qux" rel="link">qux</a>
    </div>
</div>

<div id="tags">
    <div class="tag"><a href="#foo" rel="tagsrc">foo</a></div>
    <div class="tag"><a href="#bar" rel="tagsrc">bar</a></div>
    <div class="tag"><a href="#qux" rel="tagsrc">qux</a></div>
</div>


<h3>$.aatag</h3>

<h3>$.aaclip</h3>
{% endblock body %}
