{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.timecode.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.aamedia.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.aaplayer.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.delayedaction.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.aaplaylist.js" type="text/javascript" charset="utf-8"></script>	

<!--<link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />-->
<!--<link rel="stylesheet" href="../styles.css" type="text/css" charset="utf-8" />-->
<!--<link rel="stylesheet" href="../jquery.aaplaylist.css" type="text/css" charset="utf-8" />-->

<style type="text/css" media="screen">
    .aasection_playing {
        background: white !important;
    }
    .aaplaylist {
        background-color: white;
    }
    .aasection_url {}
    .aatimecodes {}
    .aatimecodes_arrow {
        padding-left: 5px;
        padding-right: 5px;
    }
    /* section controls */
    .aasection_controls {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .aasection_controls div {
        width: 24px;
        height: 24px;
        cursor: pointer;
        float: right;
    }
    .aasection_play {
        background: url(../images/aaplay.gif) no-repeat;
    }
    .aasection_edit {
        background: url(../images/aaedit.gif) no-repeat;
    }
    .aasection_move {
        background: url(../images/aamovevertical.gif) no-repeat;
    }
    .aasection_cut {
        background: url(../images/aacut.gif) no-repeat;
    }
    .aasection_delete {
        background: url(../images/aadelete.gif) no-repeat;
    }
</style>

<script type="text/javascript" charset="utf-8">
    function aaok () {
        $("#media").aaplayer();
        $("#playlist_output").html("").aaplaylist({
            source: $("#playlist").val(),
            player: '#media'
        });
    }

    $(document).ready(function () {
        $("#player").draggable({handle: '.handle'});
        aaok();
    });
</script>
{% endblock extrahead %}


{% block overview %}
<p>
AA playlists is the fusion of subtitles + the playlist -- a simple structured text format to annotate and sequence online media.
</p>
AA Cuesheets are based on and attempt to preserve the simplicity of the SRT format (used for subtitles), and simple item-per-line playlists (such as what programs like <i>mplayer</i> accepts).
A playlist can be an SRT file, with the first line being the URL of the resource.
A playlist can also be a list of URLs indicating a list of resources to be played, one after the other.
(Each URL should be on its own line, and should not be indented.)
</p>
{% endblock overview %}


{% block body %}
<div id="player">
    <div class="handle"></div>
    <div id="media"></div>
</div>

<h3>source</h3>

<textarea id="playlist">
http://www.archive.org/download/square_dancing/square_dancing.ogv
http://activearchives.org/aa/media/files/LGM/Ginger_Coons.mp4
http://www.youtube.com/watch?v=wKocO6xWfkw

00:02:21,000 --&gt; 00:02:31,000
I have to begin with many thanks to Femke and Laurence, because it really has been a great pleasure for me to have been here this weekend.

00:02:31,000 --&gt; 00:02:43,000
It's nearly five years since I came to an event like this, believe it or not, and I really cannot say enough how much I have enjoyed it, and how stimulating I have found it.

00:02:43,000 --&gt; 00:02:57,000
So yes, a big thank you to both for getting me here. And as you say, it's ten years since I wrote Zeros + Ones, and you are marking ten years of this festival too, so it's an interesting moment to think about a lot of the issues that have come up over the weekend.

00:02:57,000 --&gt; 00:03:08,000
This is a more or less spontaneous report, very much an 'open performance', to use Simon Yuill's words,

00:03:08,000 --&gt; 00:03:16,000
and not to be taken as any kind of definitive account of what has happened this weekend.
</textarea>

<pre><code class="javascript">
// convert source text to functional HTML
$("#playlist_output").aaplaylist({source: $("#playlist").val()})
</code></pre>

<button class="code" type="button" onclick='console.log($.aa.playlist_unparse($.aa.playlist_parse($("#playlist").val())))'>parse test</button>
<button class="code" type="button" onclick='aaok()'>ok</button>

<h3>output</h3>

<div id="playlist_output"></div>

<p>
    Technically, a playlist is represented as a flat list of sections, 
    where each section is a URL, text, and a start and end time.
    Only the URL is required (text, start and end may all be blank/undefined,
    with one caveat: an end time requires that a start time be present).
</p>

<pre><code class="javascript">
playlist = [
    {url: "", text:"", start:"", end:""},
    {url: "", text:"", start:"", end:""}
    ...
]
</code></pre>

<textarea id="sadieplant"> 
http://localhost/~murtaugh/videogrep/sadie-plant.flv
00:00:00,000 --> 00:02:21,000
h2. Transcription edited by Sadie Plant

00:02:21,000 --> 00:02:31,000
I have to begin with many thanks to Femke and Laurence, because it really has been a great pleasure for me to have been here this weekend.

00:02:31,000 --> 00:02:43,000
It's nearly five years since I came to an event like this, believe it or not, and I really cannot say enough how much I have enjoyed it, and how stimulating I have found it.

00:02:43,000 --> 00:02:57,000
So yes, a big thank you to both for getting me here. And as you say, it's ten years since I wrote Zeros + Ones, and you are marking ten years of this festival too, so it's an interesting moment to think about a lot of the issues that have come up over the weekend.

00:02:57,000 --> 00:03:08,000
This is a more or less spontaneous report, very much an "open performance", to use Simon Yuill's words,

00:03:08,000 --> 00:03:16,000
and not to be taken as any kind of definitive account of what has happened this weekend.

00:03:16,000 --> 00:03:19,000
But still I hope it can bring a few of the many and varied strands of this event together, not to form a true conclusion, but perhaps to provide some kind of digestif after a wonderful meal.

00:03:19,000 --> 00:03:26,000
I thought I should begin as Femke very wisely began, with the theme of cooking.

00:03:26,000 --> 00:03:33,000
Femke gave us a recipe at the beginning of the weekend, really a kind of recipe for the whole event,

00:03:33,000 --> 00:03:41,000
with cooking as an example of the fact that there are many models, many activities, many things that we do in our everyday lives,

00:03:41,000 --> 00:03:48,000
which might inform and expand our ideas about technology and how we work with them.

00:03:48,000 --> 00:03:59,000
So, I too will begin with this idea of cooking, which is as Femke said a very magical, transformative experience.

00:03:59,000 --> 00:04:19,000
Femke's clip from the Catherine Deneuve film was a really lovely instance of the kind of deep elemental, magical chemistry which goes on in cooking.

00:04:19,000 --> 00:04:25,000
It is this that makes it such an instructive and interesting candidate, for a model to illuminate the work of programming,

00:04:25,000 --> 00:04:41,000
which itself obviously has this same kind of potential to bring something into effect in a very direct and immediate sense.

00:04:41,000 --> 00:04:47,000
And cooking is also the work behind the scene, the often forgotten work, again a little bit like programming,

00:04:47,000 --> 00:04:54,000
that results in something which -- again like a lot of technology -- can operate on many different scales.

00:04:54,000 --> 00:05:02,000
Cooking is in one sense the most basic kind of activity, a simple matter of survival,

00:04:59,000 --> 00:05:03,000
but it can also work on a gourmet level too, where it becomes the most refined -- and well paid -- kind of work.

00:05:03,000 --> 00:05:09,000
It can be the most detailed, fiddly, sort of decorative work;

00:05:09,000 --> 00:05:15,000
it can be the most backbreaking, heavy industrial work -- bread making for example as well.

00:05:15,000 --> 00:05:20,000
So it really covers the whole panoply of these extremes.

00:05:20,000 --> 00:05:31,000
If we think about a recipe, and ask ourselves about the machine that the recipe requires, it's obviously running on an incredibly complex assemblage:

00:05:31,000 --> 00:05:37,000
you have the kitchen, you have all the ingredients, you have machines for cooling things, machines for heating things,

00:05:37,000 --> 00:05:43,000
you have the person doing the cooking, the tools in question.

00:05:43,000 --> 00:05:49,000
We really are talking here about a complex process, and not just an end result.

00:05:49,000 --> 00:05:57,000
The process is also, again, a very "open" activity.

00:05:57,000 --> 00:06:03,000
Simon Yuill defined an "open performance" as a partial composition completed in the performance.

00:06:03,000 --> 00:06:30,000
(...)

00:06:30,000 --> 00:06:35,000
sometimes it really is all about process, and not about eating at all!

00:06:35,000 --> 00:06:41,000
Cooking is always about experimentation and the kitchen really is a kind of lab.

00:06:41,000 --> 00:06:52,000
The instructions may be exact, the conditions may be more or less precise but the results are never the same twice.

00:06:52,000 --> 00:06:57,000
There are just too many variables, too many contingencies involved.

00:06:57,000 --> 00:07:03,000
Of course like any experimental work, it can go completely wrong, it often does go wrong:

00:07:04,000 --> 00:07:10,000
But as Simon again said today, quoting Sun Ra: there are no real mistakes, there are no truly wrong things.

00:07:10,000 --> 00:07:18,000
This was certainly the case with the fantastic cooking process that we had throughout the whole day yesterday,

00:07:18,000 --> 00:07:25,000
which ended with us eating these fantastic mussels, which I am sure elpueblodechina thought in fact were not as they should have been.

00:07:25,000 --> 00:07:37,000
But only she knew what she was aiming at: for the people who ate them they were delicious,

_their flavour enhanced by the whole experience of their production. elpueblodechina's meal made us ask:_

00:07:37,000 --> 00:07:40,000
what does it mean for something to go wrong?

00:07:40,000 --> 00:07:48,000
She was using a cooking technique which has come out of generations and generations of errors, mistakes, probings, fallings backs,

00:07:48,000 --> 00:07:54,000
not just simply a continuous kind of story of progress, success, and forward movement.

00:07:54,000 --> 00:08:01,000
So the mistakes are clearly always a very big part of how things work in life, in any context in life,

00:08:01,000 --> 00:08:08,000
but especially of course in the context of programming and working with software and working with technologies,

00:08:08,000 --> 00:08:18,000
which we often still tend to assume are incredibly reliable, logical systems, but in fact are full of glitches and errors.

00:08:18,000 --> 00:08:21,000
As thinkers and activists resistant to and critical of mainstream methods and cultures, this is something that we need to keep encouraging.

00:08:21,000 --> 00:08:36,000
I have for a long time been interested in textiles, and I can't resist mentioning the fact that the word 'recipe' was the old word for knitting patterns:

00:08:36,000 --> 00:08:41,000
people didn't talk about knitting patterns, but "recipes" for knitting.

00:08:41,000 --> 00:08:51,000
This brings us to another interesting junction with another set of very basic, repetitive kinds of domestic and often overlooked activities,

00:08:51,000 --> 00:08:59,000
which are nevertheless absolutely basic to human existence. Just as we all eat food, so we all wear clothes.

00:08:59,000 --> 00:09:03,000
As with cooking, the production of textiles again has this same kind of sense of being very basic to our survival,

00:09:03,000 --> 00:09:11,000
very elemental in that sense, but it can also function at a high level of detailed, refined activity as well.

00:09:11,000 --> 00:09:29,000
With a piece of knitting it is difficult to see the ways in which a single thread becomes looped into a continuous textile.

00:09:29,000 --> 00:09:41,000
But if you look at a woven pattern, the program that has led to the pattern is right there in front of you, as you see the textile itself.

00:09:42,000 --> 00:09:49,000
This makes weaving a very nice, basic and early example of how this kind of immediacy can be brought into operation.

00:09:49,000 --> 00:09:55,000
*What you look at in a piece of woven cloth is not just a representation of something that can happen somewhere else,*

00:09:55,000 --> 00:10:04,000
*but the actual instructions for producing and reproducing that piece of woven cloth as well.*

00:10:03,000 --> 00:10:12,000
So that's the kind of deep intuitive connection that it has with computer programming, as well as the more linear historical connections of which I have often spoken.

00:10:08,000 --> 00:10:14,000
There are some other nice connections between textiles, cooking and programming as well.

00:10:14,000 --> 00:10:22,000
Several times yesterday there was a lot of talk about both experts and amateurs, and developers and users.

00:10:22,000 --> 00:10:33,000
These are divisions which constantly, and often perhaps with good reason, reassert themselves, and often carry gendered connotations too.

00:10:33,000 --> 00:10:46,000
In the realm of cooking, you have the chef on the one hand, who is often male and enjoys the high status of the inventive, creative expert,

00:10:46,000 --> 00:10:52,000
and the cook on the other, who is more likely to be female and works under quite a different rubric.

00:10:52,000 --> 00:10:56,000
In reality, it might be said that the distinction is far from precise:

00:10:56,000 --> 00:11:05,000
the very practise of using computers, of cooking, of knitting, is almost inevitably one of constantly contributing to their development,

00:11:05,000 --> 00:11:13,000
because they are all relatively open systems and they all evolve through people's constant, repetitive use of them.

00:11:13,000 --> 00:11:24,000
So it is ultimately very difficult to distinguish between the user and the developer, or the expert and the amateur.

00:11:24,000 --> 00:11:34,000
The experiment, the research, the development is always happening in the kitchen, in the bedroom, on the bus, using your mobile or using your computer.

00:11:34,000 --> 00:11:46,000
Fernand Braudel speaks about this kind of "micro-histories', this sense of repetitive activity,

00:11:46,000 --> 00:11:54,000
which is done in many trades and many lines, and that really is the deep unconscious history of human activity.

00:11:54,000 --> 00:12:03,000
And arguably that's where the most interesting developments happen, albeit in a very unsung, unseen, often almost hidden way.

00:12:03,000 --> 00:12:12,000
It is this kind of deep collectivity, this profound sense of micro-collaboration, which has often been tapped into this weekend.

00:12:12,000 --> 00:12:22,000
Still, of course, the social and conceptual divisions persist, and still, just as we have our celebrity chefs, so we have our celebrity programmers and dominant corporate software developers.

00:12:22,000 --> 00:12:30,000
And just as we have our forgotten and overlooked cooks, so we have people who are dismissed, or even dismiss themselves, as 'just computer users'.

_The technological realities are such that people are often forced into this role, with programmes that really are so fixed and closed that almost nothing remains for the user to contribute._

00:12:28,000 --> 00:12:40,000
The structural and social divisions remain, and are reproduced on gendered lines as well.

00:12:40,000 --> 00:12:49,000
In the 1940s, computer programming was considered to be extremely menial, and not at all a glamorous or powerful activity.

00:12:49,000 --> 00:13:01,000
Then of course, the business of dealing with the software was strictly women's work, and it was with the hardware of the system that the most powerful activity lay.

00:13:01,000 --> 00:13:06,000
That was where the real solid development was done, and that was where the men were working, with what were then the real nuts and bolts of the machines.

00:13:06,000 --> 00:13:13,000
Now of course, it has all turned around. It is women who are building the chips and putting the hardware -- such as it is these days -- together,

00:13:13,000 --> 00:13:18,000
while the male expertise has shifted to the writing of software.

00:13:18,000 --> 00:13:26,000
In only half a century, the evolution of the technology has shifted the whole notion of where the power lies. No doubt -- and not least through weekends like this -- the story will keep moving on.

00:13:22,000 --> 00:13:28,000
But as the world of computing does move more and more into software and leave the hardware behind,

00:13:28,000 --> 00:13:39,000
it is accompanied by the perceived danger that the technology and, by extension, the cultures around it, tend to become more and more disembodied and intangible.

00:13:39,000 --> 00:13:47,000
This has long been seen as a danger because it tends to reinforce what have historically, in the Western world at least,

00:13:47,000 --> 00:13:54,000
been some of the more oppressive tendencies to affect women and all the other bodies that haven't quite fitted the philosophical ideal.

00:13:54,000 --> 00:14:05,000
Both the Platonic and Christian traditions have tended to dismissing or repress the body, and with it all the kind of messy, gritty, tangible stuff of culture, as transient, difficult, and flawed.

00:14:05,000 --> 00:14:15,000
And what has been elevated is of course the much more formal, idealist, disembodied kind of activities and processes.

00:14:15,000 --> 00:14:29,000
This is a site of continual struggle, and I guess part of the purpose of a weekend like this is to keep working away, re-injecting some sense of materiality, of physicality, of the body, of geography,

00:14:29,000 --> 00:14:37,000
into what are always in danger of becoming much more formal and disembodied worlds.

00:14:37,000 --> 00:14:44,000
Once again, there still tends to be something of a gendered divide.

(...)

_What Femke and Laurence have striven to remind us this weekend is that however elevated and removed our work appears to be from the matter of bodies and physical techniques, we remain bodies, complex material processes, working in a complex material work._

00:14:44,000 --> 00:15:01,000
_The dance workshop organised this morning by Alice Chauchat and Frédéric Gies was an inspiring but also difficult experience for many of us, unused as we are to using our bodies in such literally physical and public ways._

It was not until we came out of the workshop into a space which was suddenly mixed in terms of gender, that I realised that the participants in the workshop had been almost exclusively female.

00:15:01,000 --> 00:15:19,000
It was only the women who had gone to this kind of more physical, embodied, and indeed personally challenging part of the weekend.

00:15:19,000 --> 00:15:36,000
But we all need to continually re-engage with this sense of the body, all this messiness and grittiness, which it is in many vested interests to constantly cleanse from the world.

00:15:36,000 --> 00:15:49,000
We have to make ourselves deal with all the embarrassment, the awkwardness, and the problematic side of this more tangible and physical world.

00:15:49,000 --> 00:16:00,000
For that reason it has been fantastic that we have had such strong input from people involved in dance and physical movement, people working with bodies and the real sense of space.

_Sabine Prokhoris and Simon Hecquet made us think about what it means to transcribe the movements of the body; Séverine Dusollier and Valérie Laure Benabou got us to question the legal status of such movements too._

00:16:00,000 --> 00:16:22,000
And what we have gained from all of this is this sense that we are all always working with our bodies, we are always using our bodies, with more or less awareness and talent, of course, whether we are dancing or baking or knitting or slumped over our keyboards.

00:16:22,000 --> 00:16:34,000
In some ways we shouldn't even need to say it, but the fact that we do need to remind ourselves of our embodiment shows just how easy it is for us to forget our physicality.

00:16:34,000 --> 00:16:56,000
This morning's dance workshop really showed some of the virtues of being able to turn off one's self-consciousness, to dismiss the constantly controlling part of one's self and to function on a different, slightly more automatic level.

00:16:56,000 --> 00:17:11,000
Or perhaps one might say just to prioritise a level of bodily activity, of bodily awareness, of a sense of spatiality that is so easy to forget in our very cerebral society.

00:17:11,000 --> 00:17:22,000
What Frédéric and Alice showed us was not simply about using the body, but rather how to overcome the old dualism of thinking of the body as a kind of servant of the mind.

00:17:21,000 --> 00:17:33,000
Perhaps this is how we should think about our relationships to our technologies as well, not just to see them as our servants, and ourselves as the authors or subjects of the activity,

00:17:33,000 --> 00:17:47,000
but rather to perceive the interactivity, the sense of an interplay, not between two dualistic things, the body and the mind, or the agent and the tool, the producer and the user,

00:17:47,000 --> 00:33:52,000
but to try and see much more of a continuum of different levels and different kinds and different speeds of material activity, some very big and clunky, others at extremely complex micro-levels.
</textarea>

<p>
    <button type="button" onclick='$("#sadieplant").aa.play()'>play</button>
</p>

{% endblock body %}
