{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.delayedaction.js" type="text/javascript" charset="utf-8"></script>	

<link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
    });
</script>
{% endblock extrahead %}

{% block overview %}
<p>
    Write me!
</p>
{% endblock %}

{% block body %}

{% endblock %}
