{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>	

<link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />

<style type="text/css" media="screen">
    .logmsg {
        background-color: yellow;
        margin-bottom: 1px;
    }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    $.log("created div#log");

    $("input#log_bt").click(function(){
        $.log($("input#log_input").val());
    });
});
</script>
{% endblock extrahead %}

{% block overview %}
<p>
    This plugin allows one to log messages to the console (Firebug, Webkit) if
    available or to an arbitrary div with id "log".
</p>
{% endblock %}


{% block body %}
    <h2>$.log()</h2>

<pre><code class="javascript">$("input#log_bt").click(function(){
    $.log($("input#log_input").val());
});
</code></pre>

    <input id="log_input" type="text" name="log_input" value="log me" />
    <input id="log_bt" type="button" name="log_bt" value="log" />
    <div id="log">
            
    </div>
{% endblock body %}
