{% extends "base.html" %}

{% load markup %}

{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.timecode.js" type="text/javascript" charset="utf-8"></script>	

<link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />

<style type="text/css" media="screen">
    input { width: 4em; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {

   /* $.timecode_tosecs */
   $('div#timecode_tosecs button').click(function() {
       var input = $(this).parent().find("input#input");
       var output = $(this).parent().find("input#output");
       output.val($.timecode_tosecs(input.val()))
   });

   /* $.timecode_tosecs_attr */
   $('div#timecode_tosecs_attr button').click(function() {
       var input = $(this).parent().find("input#input");
       var output = $(this).parent().find("input#output");
       output.val($.timecode_tosecs_attr(input.val()))
   });

   /* $.timecode_parse */
   $('div#timecode_parse button').click(function() {
       var input = $(this).parent().find("input#input");
       var output = $(this).parent().find("input#output");
       output.val($.timecode_parse(input.val()))
   });

   /* $.timecode_fromsecs */
   $('div#timecode_fromsecs button').click(function() {
       var input = $(this).parent().find("input#input");
       var output = $(this).parent().find("input#output");
       output.val($.timecode_fromsecs(input.val()))
   });

   /* $.timecode_unparsesecs */
   $('div#timecode_unparse button').click(function() {
       var input = $(this).parent().find("input#input");
       var output = $(this).parent().find("input#output");
       output.val($.timecode_unparse(input.val()))
   });

});
</script>
{% endblock %}


{% block overview %}
    <p> To do! </p>
{% endblock %}

{% block body %}
    <div id="timecode_tosecs">
        <input type="text" id="input" value="01:05:36">
        <button>$.timecode_tosecs()</button>
        <input type="text" id="output" value="">
    </div>

    <div id="timecode_tosecs_attr">
        <input type="text" id="input" value="12,21">
        <button>$.timecode_tosecs_attr()</button>
        <input type="text" id="output" value="">
    </div>

    <div id="timecode_parse">
        <input type="text" id="input" value="03:45">
        <button>$.timecode_parse()</button>
        <input type="text" id="output" value="">
    </div>

    <div id="timecode_fromsecs">
        <input type="text" id="input" value="90">
        <button>$.timecode_fromsecs_attr()</button>
        <input type="text" id="output" value="">
    </div>

    <div id="timecode_unparse">
        <input type="text" id="input" value="90">
        <button>$.timecode_unparse()</button>
        <input type="text" id="output" value="">
    </div>
{% endblock %}
