{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.log.js" type="text/javascript" charset="utf-8"></script>
<script src="../../jquery.aa_timeline.js" type="text/javascript" charset="utf-8"></script>
{% endblock extrahead %}

{% block overview %}
<p>
    <b>FIXME!</b>
</p>
{% endblock %}

{% block body %}
<pre><code class="javascript">
t = $.aa_timeline({
    show: function (x) { x.show(); }, 
    hide: function (x) { x.hide(); }
});
t.add($("#foo"), 1, 100);
t.add($("#bar"), 50, 150);
</code></pre>

<div>foo</div>
<div>bar</div>
{% endblock body %}
