{% extends "base.html" %}

{% load markup %}


{% block extrahead %}
<!-- dependencies + code -->
<script src="../../jquery.delayedaction.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../jquery.autoscroll.js" type="text/javascript" charset="utf-8"></script>	

<link rel="stylesheet" href="../doc.css" type="text/css" charset="utf-8" />
<style type="text/css" media="screen">
#test {
    background: white;
}
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {

    // fill the test list
    for (var i=0; i<1000; i++) {
        $("<div></div>").attr("id", "elt"+i).html(i).appendTo("#test");
    }
    $("#test").css({
        height: "300px",
        width: "120px",
        overflow: "auto"
    }).autoscroll();

});

function doit () {
    var eltid = $('#eltid').val();
    var elt = $('#elt'+eltid);
    $('#test').data('autoscroll').scrollTo(elt)
}
</script>

{% endblock %}

{% block overview %}
<p>
    Code to automatically scroll to a particular element.
</p>
{% endblock overview %}


{% block body %}
<div id="player">
    <div class="handle"></div>
    <div id="test"></div>
</div>

<h3>options</h3>

<pre><code class="javascript">
$("#test").autoscroll();
</code></pre>
<p>
    <button onclick="aatest()">init</button>
</p>

<h3>methods</h3>

<p>
    <input type="text" id="eltid" value="50" style="width: 80px" />
    <button onclick="doit()">scroll</button>
</p>

<pre><code class="javascript">
    $("#media").aamedia('play');
</code></pre>
{% endblock body %}
